body{
  background: url("http://source.unsplash.com/3J6Shtv2QAY");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

h1 {
  color:White;
	font-weight: 700;
	font-size: 5em;
}

.jumbotron{
  background-image: url("http://source.unsplash.com/u9RgwJkxyWA");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.jumbotron .h1, .jumbotron h1{
  font-family: 'Shadows Into Light Two', cursive;
}

.jumbotron .h3, .jumbotron h3{
  font-family: 'Patrick Hand', cursive;
}

#content{
	text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
