body, html {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

.navbar-inverse{
  font-family: 'Open Sans Condensed', sans-serif;
  border: 0;
}

.pic1, .pic2, .pic3{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Gravitas One', cursive;
  color: #666;
  line-height: 1.8em;

  background-attachment: fixed;
  word-wrap: break-word;
}

.pic1{
  padding-top: 70px;
  background-image: url('background/pic1.jpeg');
  min-height: 85%;
}

.pic2{
  background-image: url('background/pic2.jpeg');
  min-height: 400px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  word-wrap: break-word;
}

.pic3{
  background-image: url('background/pic3.jpeg');
  min-height: 400px;
}

.pic3{
  background-image: url('background/pic4.jpeg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #e8e9ea;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;

}

.ptext .border{
  background-color: #1E2934;
  color: white;
  padding: 20px;
  display: inline-block;
}

.center{
  text-align: center;
  font-size: 14px !important;
  color: white !important;
  text-shadow: 2px 2px black;
}

.ptext .border.trans{
  background-color: transparent;
}

#showcase h1{
  margin-bottom:50px;
  margin-top: 80px;
}

#showcase img{
  width: 61%;
  height: 35%;
  float: center;
  padding-top: 80px;
}

.left{
  text-align: left;
}

footer{
  padding: 40px;
  background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

@media(max-width: 568px){
  .pic1, .pic2, .pic3{
    background-attachment: scroll;
  }
}
