body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.navbar-inverse{
  font-family: 'Open Sans Condensed', sans-serif;
  border: 0;
}

.pic1, .pic2, .pic3{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Gravitas One', cursive;
  color: #666;
  line-height: 1.8em;

  background-attachment: fixed;
  word-wrap: break-word;
}

.pic1{
  padding-top: 70px;
  background-image: url('background/pic1.jpeg');
  min-height: 85%;
}

.pic2{
  background-image: url('background/pic2.jpeg');
  min-height: 400px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.pic3{
  background-image: url('background/pic3.jpeg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #e8e9ea;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;

}

.ptext .border{
  background-color: #1E2934;
  color: white;
  padding: 20px;
  display: inline-block;
}

.center{
  text-align: center;
  font-size: 14px !important;
  color: black !important;
  text-shadow: 2px 2px #FBF9F1;
}

.ptext .border.trans{
  background-color: transparent;
}

.showcase h1{
  margin-bottom:50px;
  margin-top: 80px;
}

.showcase img{
  width: 61%;
  height: 35%;
  margin-left: 60px;
  float: center;
  padding-top: 80px;
}

.left{
  text-align: left;
}

/*dot */

#dot-nav{
	right: 10px;
	top: 50%;
	margin-top: -50px;
	height: 100px;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}
#dot-nav li {
	position: relative;
	background-color: #bdc3c7;
	border:3px solid #bdc3c7;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
	background-color: #8e44ad;
}

#dot-nav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #8e44ad;
    color: #f5f5f5;
    border: 1px solid #8e44ad;
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #8e44ad;
}

/* dot end */



footer{
  padding: 40px;
  background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

@media(max-width: 568px){
  .pic1, .pic2, .pic3{
    background-attachment: scroll;
  }
}
