body, html {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

.navbar-inverse{
  font-family: 'Open Sans Condensed', sans-serif;
  border: 0;
}

.pic1, .pic2, .pic3{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Gravitas One', cursive;
  color: #666;
  line-height: 1.8em;

  background-attachment: fixed;
  word-wrap: break-word;
}

.pic1{
  padding-top: 70px;
  background-image: url('background/pic1.jpeg');
  min-height: 85%;
}

.pic2{
  background-image: url('background/pic2.jpeg');
  min-height: 400px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  word-wrap: break-word;
}

.pic3{
  background-image: url('background/pic3.jpeg');
  min-height: 400px;
}

.pic3{
  background-image: url('background/pic4.jpeg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #e8e9ea;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;

}

.ptext .border{
  background-color: #1E2934;
  color: white;
  padding: 20px;
  display: inline-block;
}

.slidetext{
  color: #1E2934;
  text-shadow: 0.5px 0.5px #FFFFFF;
}

.shadow{
  text-shadow: 2px 2px #FFFFFF;
}

.center{
  text-align: center;
  font-size: 14px !important;
  color: white !important;
  text-shadow: 2px 2px black;
}

.ptext .border.trans{
  background-color: transparent;
  color: #1E2934;
}

#showcase h1{
  margin-bottom:50px;
  margin-top: 80px;
}

#showcase img{
  width:200px;
  border-radius: 50%;
  float: center;
}

.alex {
  width:200px;
  border-radius: 50%;
  float: center;
  margin-top: 20%;

}
.left{
  text-align: left;
}

footer{
  padding: 40px;
  background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

@media(max-width: 568px){
  .pic1, .pic2, .pic3{
    background-attachment: scroll;
  }
}

/* ---------------*/

* iPhone 5 and 5S - Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 150px;
		background-size: cover;
	}

	.carousel-inner .image-1 { background-image: URL("../images/carousel/quarter/embrace-your-beat.png");  background-color: #c7cfd2; }
	.carousel-inner .image-2 { background-image: URL("../images/carousel/quarter/strobe-splash.png");      background-color: #010101; }
	.carousel-inner .image-3 { background-image: URL("../images/carousel/quarter/strobe-in-paradise.jpg"); background-color: #000000; background-size: cover; background-position: bottom center; }

	.parallax { background-attachment: scroll; height: 250px; }
	.parallax.p-1 { background-image: URL("../images/parallax/quarter/party-confetti.jpg"); }
	.parallax.p-2 { background-image: URL("../images/parallax/quarter/party-hands.jpg"); }
	.parallax.p-3 { background-image: URL("../images/parallax/quarter/party-concert.jpg"); }
	.parallax.p-4 { background-image: URL("../images/parallax/quarter/party-dusk.jpg"); }
	.parallax.p-5 { background-image: URL("../images/parallax/quarter/party-dj.jpg"); }
}

/* iPhone 5 and 5S - Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 150px;
		background-size: cover;
	}

	.carousel-inner .image-1 { background-image: URL("../images/carousel/quarter/embrace-your-beat.png");  background-color: #c7cfd2; }
	.carousel-inner .image-2 { background-image: URL("../images/carousel/quarter/strobe-splash.png");      background-color: #010101; }
	.carousel-inner .image-3 { background-image: URL("../images/carousel/quarter/strobe-in-paradise.jpg"); background-color: #000000; background-size: cover; background-position: bottom center; }

	.parallax { background-attachment: scroll; height: 250px; }
	.parallax.p-1 { background-image: URL("../images/parallax/quarter/party-confetti.jpg"); }
	.parallax.p-2 { background-image: URL("../images/parallax/quarter/party-hands.jpg"); }
	.parallax.p-3 { background-image: URL("../images/parallax/quarter/party-concert.jpg"); }
	.parallax.p-4 { background-image: URL("../images/parallax/quarter/party-dusk.jpg"); }
	.parallax.p-5 { background-image: URL("../images/parallax/quarter/party-dj.jpg"); }
}

/* iPhone 6 - Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 150px;
		background-size: cover;
	}

	.carousel-inner .image-1 { background-image: URL("../images/carousel/half/embrace-your-beat.png");  background-color: #c7cfd2; }
	.carousel-inner .image-2 { background-image: URL("../images/carousel/half/strobe-splash.png");      background-color: #010101; }
	.carousel-inner .image-3 { background-image: URL("../images/carousel/half/strobe-in-paradise.jpg"); background-color: #000000; background-size: cover; background-position: bottom center; }

	.parallax { background-attachment: scroll; height: 250px; }
	.parallax.p-1 { background-image: URL("../images/parallax/half/party-confetti.jpg"); }
	.parallax.p-2 { background-image: URL("../images/parallax/half/party-hands.jpg"); }
	.parallax.p-3 { background-image: URL("../images/parallax/half/party-concert.jpg"); }
	.parallax.p-4 { background-image: URL("../images/parallax/half/party-dusk.jpg"); }
	.parallax.p-5 { background-image: URL("../images/parallax/half/party-dj.jpg"); }
}

/* iPhone 6 - Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 250px;
		background-size: cover;
	}

	.carousel-inner .image-1 { background-image: URL("../images/carousel/half/embrace-your-beat.png");  background-color: #c7cfd2; }
	.carousel-inner .image-2 { background-image: URL("../images/carousel/half/strobe-splash.png");      background-color: #010101; }
	.carousel-inner .image-3 { background-image: URL("../images/carousel/half/strobe-in-paradise.jpg"); background-color: #000000; background-size: cover; background-position: bottom center; }

	.parallax { background-attachment: scroll; height: 250px; }
	.parallax.p-1 { background-image: URL("../images/parallax/half/party-confetti.jpg"); }
	.parallax.p-2 { background-image: URL("../images/parallax/half/party-hands.jpg"); }
	.parallax.p-3 { background-image: URL("../images/parallax/half/party-concert.jpg"); }
	.parallax.p-4 { background-image: URL("../images/parallax/half/party-dusk.jpg"); }
	.parallax.p-5 { background-image: URL("../images/parallax/half/party-dj.jpg"); }
}

/* iPhone 6+ - Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
    .navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 250px;
		background-size: cover;
	}

	.carousel-inner .image-1 { background-image: URL("../images/carousel/half/embrace-your-beat.png");  background-color: #c7cfd2; }
	.carousel-inner .image-2 { background-image: URL("../images/carousel/half/strobe-splash.png");      background-color: #010101; }
	.carousel-inner .image-3 { background-image: URL("../images/carousel/half/strobe-in-paradise.jpg"); background-color: #000000; background-size: cover; background-position: bottom center; }

	.parallax { background-attachment: scroll; height: 250px; }
	.parallax.p-1 { background-image: URL("../images/parallax/half/party-confetti.jpg"); }
	.parallax.p-2 { background-image: URL("../images/parallax/half/party-hands.jpg"); }
	.parallax.p-3 { background-image: URL("../images/parallax/half/party-concert.jpg"); }
	.parallax.p-4 { background-image: URL("../images/parallax/half/party-dusk.jpg"); }
	.parallax.p-5 { background-image: URL("../images/parallax/half/party-dj.jpg"); }
}

/* iPhone 6+ - Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 370px;
		background-size: cover;
	}

	.carousel-inner .image-1 { background-image: URL("../images/carousel/half/embrace-your-beat.png");  background-color: #c7cfd2; }
	.carousel-inner .image-2 { background-image: URL("../images/carousel/half/strobe-splash.png");      background-color: #010101; }
	.carousel-inner .image-3 { background-image: URL("../images/carousel/half/strobe-in-paradise.jpg"); background-color: #000000; background-size: cover; background-position: bottom center; }

	.parallax { background-attachment: scroll; height: 250px; }
	.parallax.p-1 { background-image: URL("../images/parallax/half/party-confetti.jpg"); }
	.parallax.p-2 { background-image: URL("../images/parallax/half/party-hands.jpg"); }
	.parallax.p-3 { background-image: URL("../images/parallax/half/party-concert.jpg"); }
	.parallax.p-4 { background-image: URL("../images/parallax/half/party-dusk.jpg"); }
	.parallax.p-5 { background-image: URL("../images/parallax/half/party-dj.jpg"); }
}

/* iPad Mini - Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 450px;
		background-size: cover;
	}
}

/* iPad & iPad Mini - Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 	.navbar-brand { height: 36px; }
	.nav-icon { margin-top: 3px; float: left; }
	.carousel-wrapper { margin-top: 50px; }
	.carousel-inner .carousel-image {
		height: 450px;
		background-size: cover;
	}
}

/* Small Desktop */
@media only screen and (min-width: 980px) {
 	.navbar-brand { height: 36px; }
 	.carousel-wrapper .carousel-photo .image { height: 400px; background-position: 0 0; }
	.carousel-bottle .strobe { height: 400px; }
	.carousel-bottle { top: 85px; }
	.nav-icon { margin-top: 3px; float: left; }
}

@media only screen and (min-width: 1280px) and (min-height: 600px) {
 	.navbar-brand { height: 36px; }
 	.carousel-wrapper .carousel-photo .image { height: 500px; background-position: 0 0; }
	.carousel-bottle .strobe { height: 500px; }
	.carousel-bottle { top: 85px; }
	.nav-icon { margin-top: 3px; float: left; }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
 	.navbar-brand { height: 36px; }
 	.carousel-wrapper .carousel-photo .image { height: 650px; background-position: 0 0; }
	.carousel-bottle .strobe { height: 650px; }
	.carousel-bottle { top: 85px; }
	.nav-icon { margin-top: 3px; float: left; }
}
